$color: blue;

body {
  //color: $color;
  margin: 0;
    background-color: #F9F9F9;
}
.dropdown {
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
}

.dropdown--active .dropdown__content {
  display: block;
}