$color: blue;

body {
  //color: $color;
  margin: 0;
    background-color: #F9F9F9;
}
.dropdown {
  position: relative;
  color: black;
  background-color: pink;

}

ul {
  border: #ababab solid 1px;
}

